.navigation-background {
  padding: 48px 0;
}

.navigation-logo {
  height: 33px;
}

.navigation-burger {
  position: absolute;
  width: 33px;
  height: 33px;
  top: 50px;
  right: 1rem;  
  padding: 6px;
  
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
}

.navigation-burger > .top,
.navigation-burger > .middle, 
.navigation-burger > .bottom {
  width: 100%;
  height: 3px;
  background-color: var(--primary-color);
}

.nav-items,
.nav-items--revealed {
  position: absolute;
  padding: 2rem;
  top: 83px;
  right: 0;
  left: 0;
  opacity: 0;
  background-color: #fff;
}

.nav-items {
  opacity: 0;
  transform: translateX(105%);
}

.nav-items--revealed {
  z-index: 1;
  animation-name: menuOpeningAnimation;
  animation-duration: .3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.nav-item::before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.nav-item {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.5rem;
  transition: all 0.2s ease;
}

.nav-item:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}

.nav-item:not(:last-child) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 992px) {
  .navigation-logo {
    height: 63px;
  }
  
  .navigation-burger {
    display: none;
  }
  
  .nav-items {
    position: initial;
    opacity: 1;
    transform: translateX(0);
    gap: 80px;
    animation: none;
  }
  
  .nav-item:not(:last-child) {
    margin-bottom: 0;
  }
}

@keyframes menuOpeningAnimation {
  0% {
    opacity: 0;
    transform: translateX(105%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}